<h1>Honest Bob's Used Cars</h1>
<form action="/current_inventory" method="post">
  <label for="makeModel">Make and Model</label>
  <input name="makeModel" id="makeModel" type="text">
  <label for="miles">Miles</label>
  <input name="miles" id="miles" type="number" value="0" min="0">
  <label for="price">Price</label>
  <input name="price" id="price" type="number" value="0" min="0">
  <button type="submit">Submit</button>
</form>
