<h1>Honest Bob's Used Cars</h1>
<h4>Find a car by price and mileage</h4>
<form action="/search_results" method="post">
  <label for="miles">Maximum mileage:</label>
  <input name="miles" id="miles" type="text">
  <label for="price">Maximum price:</label>
  <input name="price" id="price" type="text">
  <button type="submit">Search</button>
</form>
@if (Model)
{
  <h4>Please enter a valid value for either mileage or price.</h4>
}
