<h1>Honest Bob's Used Cars</h1>

<p>Car make and model: @Model.GetModel()</p>
<p>Car mileage: @Model.GetMiles() miles</p>
<p>Car price: $@Model.GetPrice()</p>

<p><a href="/">Return to home page</a></p>
