<h1>Honest Bob's Used Cars</h1>
<h4>Results</h4>
<ul>
  @foreach (var car in Model) {
    <li><a href="car_details/@car.GetID()">@car.GetModel()</a></li>
  }
</ul>
<p><a href="/">Return to the home page</a></p>
<p><a href="/add_car">Add a new car</a></p>
